<p id="alert"><%= alert %></p>

<h3 style="text-align:center; margin-bottom:25px">
  Login
  <small class="text-muted">to enjoy LizardBook's fine features</small>
</h3>
<%= simple_form_for :login, {url: sessions_path } do |form| %>
  <%= form.input :email %>

  <%= form.input :password %>

  <%= form.button :submit, "Login", class: "btn-info" %>
<% end %>
