<h2 style="text-align:center; margin-top:50px; margin-bottom:25px">
  Create Account
  <small class="text-muted">to enjoy LizardBook's fine features</small>
</h2>

<% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= simple_form_for(@user, html: { class: 'form-group' }) do |form| %>

          <%= form.input :username %>

          <%= form.input :password %>

          <%= form.input :email%>

          <%= form.input :full_name %>

          <%= form.input :lizard_species, as: :radio_buttons, collection: ['Bearded Dragon', 'Gecko', 'Chameleon', 'Basilisk', 'Toad'], wrapper: :vertical_collection_inline %>

          <%= form.input :birthday %>

          <%= form.input :profile_picture%>

          <%= form.button :submit, class: "btn-primary" %>

      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
